@use "vue-material/theme/engine";
@use "vue-material/theme/palette";

@include engine.md-register-theme("default-dark", (
  primary: palette.md-get-palette-color(blue, A200),
  accent: palette.md-get-palette-color(blue, A200),
  theme: dark
));

@import "./docs-imports.scss";
