@import "../engine";

@include md-register-theme("default", (
  primary: palette.md-get-palette-color(grey, 900),
  accent: palette.md-get-palette-color(lightgreen, A700),
  theme: dark
));

@import "../all";
